/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
	padding-top: 0px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#e5e5e5;
}

.county-slider-wrap{
	background:url(../img/county/machakos.jpg) center center;
	min-height:400px;
	margin-top:-20px;
}
.county-body{
	background:url(../img/county/bg.jpg) repeat;
	margin:0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
}



/* Rest of the slides
-------------------------------------------------- */
.tcenter{
	text-align:center;
}

.twhite{
	color:#fff;
}

.tajib{
	color:#971c1f;
}

.bgajib{
	background:#971c1f;
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
}

.navbar-inverse {
	background-color: #981c20;
	border-color: #ccc;
	border-bottom: 6px solid #cc3333;
}
.navbar-brand{
	padding:0;
	margin:0 20px 0 0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #981c20;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
	color: #fff;
}
.navbar-nav>li>a {
	padding-top: 22px;
	padding-bottom: 22px;
	font-size:20px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: #fff;
	background-color: #981c20;
}
.home-cover{
	
	padding-top:20px;
}
.home-jumbo {
	padding: 140px 0 222px 0;
}
.home-jumbo p{
	font-size:2.2em;
	font-weight:100;
}

.home-jumbo .form-control {
	display: block;
	width: 100%;
	height: 58px;
	font-weight: bold;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.42857143;
	color: #971c1f;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.home-jumbo .btn {
	display: inline-block;
	padding: 12px 35px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.home-jumbo .btn-default {
	color: #fff;
	background-color: #660000;
	border: #971c1f 3px solid;
}
.home-jumbo .btn-default:hover{
	background-color: #971c1f;
	border: #660000 3px solid;
}
.tright{
	text-align:right;
}
.footer-wrap{
	padding:20px 0;
	background:#971c1f;
	color:#fff;
}
.footer-wrap p, .footer-wrap a{
	color:#fff;
}
.footer-wrap a{
	text-decoration:underline;
}
.pitch-line{
	margin-top:50px;
	padding:20px 0;
}
.pitch-line h1{
	font-weight:100;
	color:#666;
}
.com-home{
	margin:20px 0 60px 0;
}
.home-cont{
	background:#fff;
	padding:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.page-featured-pic img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.county-active{
	margin-top:10px;
	padding: 5px 10px;
	font-size: 14px !important;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#981c20;
	
}
.county-active:hover{
	margin-top:10px;
	padding: 5px 10px ;
	font-size: 14px !important;
	background:#ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.navbar-nav>li>a {
	padding-top: 22px;
	padding-bottom: 22px;
	font-size: 16px;
}
.county-menu-wrap{
	margin:60px 0 0 0;
}
.navbar-brand{
	z-index: 1000;
}
.navbar-static-top {
	z-index: 10;
	border-width: 0 0 1px;
}
.county-slider-wrap{
	color:#fff;
}
.county-slider-wrap p, .county-slider-wrap a{
	color:#fff;
}
.call-to-action{
	
}

.call-to-action p{
	font-size:2em;
	font-weight:100;
}
.btn-ajibika{
	color: #fff !important;
	background-color: #660000;
	border: #971c1f 2px solid;
}
.btn-ajibika:focus, .btn-ajibika:hover{
	background-color: #971c1f;
	color: #fff;
	border: #660000 3px solid;
}
.county-slider-wrap{
	padding:100px 0;
}
.county-news{
	padding:20px; 0;
	border-bottom:1px solid #ccc;
}
.nomargin{
	margin:0;
}
.color-aji{
	color:#37b34a;
}
a{
	color:#971c1f;
}
a:focus, a:hover{
	color:#660000;
}
.bg-white-aji{
	background:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:15px;
}

.listnone{
	list-style-type: none;
}
.nopadding{
	padding:0;
}
.large-date{
	font-size:1.4em;
	font-weight:100;
	color:#666666;
}
.county-resources, .county-resources p, .county-resources a{
	color:#666;
}
.county-resources a:focus, .county-resources a:hover{
	color:#000;
}
.cont-body{
	padding:20px 0;
}
.cont-body p{
	font-size:15px;
}
.small-month{
	font-size:15px;
}
.cont-body ul>li{
	padding:5px 4px 5px 12px;
}
.county-resources{
	padding:30px 0;
}
.county-header-wrap{
	background:#971c1f;
}
.county-header-wrap p, .county-header-wrap a, .county-header-wrap h1{
	color:#fff;
}
.county-header-wrap{
	padding:20px 0;
	margin-top:-20px;
}
.county-body img{
	max-width:100%;
}
.inside-page{
	padding: 50px 0 0 0;
}
.project-title h2{
	margin:0;
	font-size:20px;
	font-weight:600;
}
.project-attribes{
	border-top:#ccc dotted 1px;
	border-bottom:#ccc dotted 1px;
	margin:10px 0 10px 0;
	padding:7px 0;
} 
.project-attribes p{
	font-size:14px;
	margin:0;
}
.bg-white-aji{
	margin-bottom:20px;
}
.projects-wra{
	margin-bottom:20px;
}
.load-more .btn{
	font-size: 1.4em; 
}
.project-body p{
	font-size:15px;
}
.download-button{
	margin-top:14px;
}
.cont-footer-wrap {
	border-top:#ccc solid 1px;
	padding:20px 0;
	background:#cf3438;
}
.normagin{
	margin:0;
}
.profile-pic-wrap{
	border:#e7e6e5 solid 1px;
	padding:4px;
	border-radius:3px;
}
.profile-pic-wrap img{
	max-width:100%;
}
.profile-info-wrap{
	border:#e7e6e5 solid 1px;
	padding:15px;
	border-radius:3px;
	margin:10px 0;
	background:#fff;
	
}
.name-field h2{
	color:#981c20;
	font-weight:600;
}
.profile-img-wrap img{
	width:100%;
}
.Profile-content-wrap{
	margin-bottom:15px;
}
.Profile-content-wrap b{
	font-weight:bold;
	font-size:16px; 
	color:gray;
}
.content-wrap-profile b{
	font-weight:bold;
	font-size:16px; 
	color:gray;
}
.content-wrap-profile p{
	font-size:15px; 
	color:#999999;
	
}
.Profile-content-wrap p{
	color:#333;
	font-size:15px;
	margin:4px 0;
}
.content-wrap-profile {
	padding:15px 0;
	border-bottom:1px dotted #ccc;
}
.other-prof-wrap{
	border:#ccc solid 1px;
	border-radius:3px;
	padding:0 15px;
	margin-top:20px;
}
.profile-uls ul>li{
	float:left;
	margin:10px;
}
.profile-bg-ul {
	background:#fff;
	padding:10px 0;
	border-radius: 5px;
}
.profile-header{
	padding:4px 0;
}
.profile-header h3{
	font-size:17px;
}
.profile-footer p{
	font-size:14px;
}
.profile-footer{
	padding:10px 0 0 0 ;
}
.margin-bottom {
	margin-bottom:15px;
}
.profile-header p{
	text-align:center;
	color:#999;
	font-size:11px;
}
#myCarousel{
	height:402px;
	
}
.carousel-inner .item.active img{
	border-radius:10px;
}
.load-more{
	margin:50px 0;
}
.feat-profile-wra a{
	color:#981c20;
}
.cont-title{
	border-bottom:#ccc dotted 1px;
	padding-bottom: 10px;
}
img{
	max-width:100%;
}
.quick-one{
	margin-bottom:10px;
}
.quick-one, .quick-two{
	color:#fff;
	padding:15px;
	border-radius:4px;
}
.quick-one h2, .quick-two h2{
	font-size:20px;
	margin:0;
	
}
.quick-one p, .quick-two p{
	font-size:.8em;
	margin:0;
}
.quick-one{
	background:#37b34a;
}
.quick-one a, .quick-two a{
	color:#fff;
}
.quick-one a:hover, .quick-two a:hover{
	color:#f1f2f3;
}
.quick-two{
	background:#ec1c24;
}

.nowrap{
	whitespace:nowrap;
}
.feat-profile-wra .cont-body h3{
	font-size:18px;
	border-bottom:#ccc dotted 1px;
}
.prof-title, .cont-body p.prof-title {
	font-size: 12px;
	color:#999;
	font-weight:bold;
}
.darker-one, .darker-two{
}
.profile{
	padding-bottom:0;
}
.darker-one p, .darker-two p{
	font-size:28px;
}
.darker-one, .darker-two {
	padding-top:8px;
}
.videos-wrap.cont-body {
	padding: 20px 0 0 0;
}
.newstitle h4{
	font-size:20px;
	font-size:bold;
	color:#981c20;
	
}
.newstitle a{
	color:#981c20 !important;
}
.news-excerpt a{
	color:#981c20;
}
.news-excerpt{
	padding:4px 0;
}
.cont-footer-wrap, .cont-footer-wrap p, .cont-footer-wrap a{
	color:#fff;
}
.navbp .navbar-nav>li>a {
	font-size: 14px;
}
.bg-white-aji p,.bg-white-aji a, .bg-white-aji{
	color:#333;
}
.navbar-default {
	background-color: #f8f8f8;
	border-bottom: #d1d0d0 solid 3px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: #d1d0d0;
}
.slide-wrap{
	overflow:hidden;
}
.news-title{
	padding:12px 0; 
}
.news-title h1{
	color:#971c1f;
}
.params-wrap{
	padding:6px 0 6px 13px;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	margin-bottom:20px;
}
.params-wrap p{
	margin:0;
	font-size:14px;
	color:#999;
}
.news-container h1, .news-container h2, .news-container h3, .news-container h4,.news-container h5{
	color:#971c1f;
}
.home-cont.news-container{
	padding:30px;
}
.news-page a h4{
	color:#333;
} 
.tab-pane{
	background:#fff;
	padding:15px; 
	border-radius:3px;
}
.ufa-wrap{
	padding:30px 0 10px 0;
}
.foot{
	padding-bottom:15px;
	border-bottom:1px solid #ff6666;
}
p.un{
	font-size:13px;
}
