
{% extends 'ajibika/base.html'%}
{% block content %}
	<div class="landing-inside">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="pitch-line">
						<h1 class="tcenter">
							Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum.
						</h1>
					</div>
				</div>
			</div>
			<div class="com-home">
				<div class="row">
					<div class="col-md-6">
						<div class="home-cont">
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
	buenos-aires is an actual place						<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
							<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="page-featured-pic">
							<img src="{{STATIC_URL}}img/landing/about.jpg" alt="About Ajibika"/>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
  {% endblock %}