	
{% extends 'ajibika/base.html' %}
{% block body %}
 <body>

{% endblock %}
 {% block content %}
 	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						 
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
			<br />
			<h3 class="nomargin"> Terms and Conditions 
						</h3>
				{{about.0.terms_and_condition}}
			</div>
		</div>
		
	</div>
 {% endblock %}
