{% extends 'ajibika/base.html'%}
{% block body %}
 <body>

{% endblock %}
{% block content %}



	<div class="landing-inside">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="pitch-line">
						<h1 class="tcenter">
							Our Partners
						</h1>
					</div>
				</div>
			</div>
			<div class="com-home">
				<div class="row">
					<div class="col-md-12">
						<div class="home-cont">
							<br/><br/><br/>
							<p class="tcenter">
								Ajibika is an Initiative of Ufadhili Trust , with the generous support from the United Nations Democracy Fund (UNDEF).
								
							</p>
							<br/>
							<p class="tcenter"><span class="undef"><img src="{{STATIC_URL}}img/undef.png" alt="Ufadhili Logo" /></span></p>
							<br/><br/>
						</div>
					</div>
					
					
					
					
				</div>
				<div class="divider-out"></div>
			</div>
		</div>
	</div>
    
     {% endblock %}