{% extends 'ajibika/county_base.html' %}

 {% block content %}
	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">Bills</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					{% if bills %}
						
						{% for bill in bills %}
						<div class="bg-white-aji projects-wra">
							<div class="project-wrap">
								<div class="row">
									<div class="col-md-12">
										<div class="project-title">
											<h2><a href="{{bill.file.url}}">{{bill.title}}</a></h2>
										</div>
										<div class="project-attribes">
											<div class="row">
												<div class="col-md-10">
													
												<p><b>Summary:</b> {{bill.summary}}  </p>
											</div>
											<div class="col-md-2">
												<p class="tright">
													<a class="btn btn-ajibika" href="{{bill.file.url}}">
														<i class="fa fa-cloud-download"></i>  Download
													</a>
												</p>
											</div>
											</div>
											
										</div>
										
									</div>
									
								</div>
							</div>
						</div>
						{% endfor %}
						{% else %}
						    <p><b>No bills found for {{county.name}} county.</b>
						{% endif %}
						
					</div>
					<!-- <div class="col-md-12">
						<p class="nomargin tcenter load-more">
							<a class="btn btn-ajibika" href="">Load more</a>
						</p>
					</div> -->
					
					
						

					
				</div>
			</div>
		</div>
		
	</div>
 {% endblock %}