
    
    	<div class="cont-footer-wrap">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-2">
						<div class="bg-whie-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-11"> ABOUT AJIBIKA </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<p class="nomargin"><a href=""> Home</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> About Ajibika Platform</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Counties</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> About this county</a></p>
									</li>
									
									
									
									
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="bg-whie-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-xs-11"> QUICK LINKS </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<p class="nomargin"><a href=""> Bills</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Projects</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Transcripts</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Integrated Plan</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Budget 2015/2016</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Other Documents</a></p>
									</li>
									
									
									
									
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
							<div class="bg-white-aji">
								<div class="cont-title">
									<div class="row">
										<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> CONNECT AND SHARE </div>
									</div>
								</div>
								<div class="cont-body">
								<a class="twitter-timeline" href="https://twitter.com/Ajibika" data-widget-id="480982572613107712">Tweets by @Ajibika</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								</div>
							</div>
						</div>
						
	    			
	    			
	    			<div class="col-md-4">
							<div class="bg-white-aji">
								<div class="cont-title">
									<div class="row">
										<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> CONNECT AND SHARE </div>
									</div>
								</div>
								<div class="cont-body">
									<div id="fb-root"></div>
									<script>(function(d, s, id) {
									  var js, fjs = d.getElementsByTagName(s)[0];
									  if (d.getElementById(id)) return;
									  js = d.createElement(s); js.id = id;
									  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=292843857462631&version=v2.0";
									  fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
									
									<div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
								</div>
							</div>
						</div>
						
	    		</div>
	    	</div>
    	</div>
    	<div class="footer-wrap footer">
	    	<div class="foot">
	    		<div class="container">
		    		<div class="row">
		    			<div class="col-md-6">
		    				<p class="nomargin nopadding">
		    					&copy; Ajibika 2014. All rights reserved. <a href=""></a>
		    				</p>
		    			</div>
		    			<div class="col-md-6">
		    				<p class="nomargin nopadding tright">
		    					<a href="">About Ajibika</a> |  <a href="">Terms</a> | <a href="">Legal</a>
		    				</p>
		    			</div>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="ufa-wrap">
	    		<div class="container">
	    			<div class="col-xs-4">
	    				<div class="ufadh-logo-wrap undef-ogo">
	    					<p class="nomargin">
		    					<a href="http://www.un.org/democracyfund/" target="_blank">
		    						<span class="undef-ogo"><img src="/assets/img/undef.png" alt="Ufadhili Logo" /></span>
		    					</a>
		    				</p>
	    				</div>
	    			</div>
	    			<div class="col-xs-4">
	    				<div class="ufadh-descript">
	    					<p class="nomargin tcenter">
		    					Ajibika is an Initiative of <a href="">Ufadhili Trust</a> , with the generous support from the United Nations Democracy Fund (UNDEF).
		    				</p>
	    				</div>
	    			</div>
	    			<div class="col-xs-4">
	    				<div class="ufadh-logo-wrap">
	    					<p class="nomargin tcenter">
		    					<a href="http://www.ufadhilitrust.org/" target="_blank">
		    						<img src="/assets/img/ufadhili.png" alt="Ufadhili Logo" />
		    					</a>
		    				</p>
	    				</div>
	    			</div>
	    			
	    		</div>
	    	</div>
    	
    	
	    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
	<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="js/bootstrap-image-gallery.min.js"></script>
	<script src="/assets/js/bootstrap-image-gallery.min.js"></script>


  </body>
</html>
