

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico?v2" />

    <title>{{county.name}} :: Ajibika  </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/template.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/county.aji.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}fonts/font-awesome/css/font-awesome.min.css">
	
	
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ STATIC_URL }}js/ie10-viewport-bug-workaround.js"></script>
    
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>

  <body class="">

    <div class="navbar navbar-inverse navbp" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="Ajibika"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About Ajibika</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Change <span class="county-active">{{county.name}}</span><span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                {% for county in counties %}
                    <li><a href="{{county.get_absolute_url}}">{{county.name}}</a></li>
                {% endfor %}
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div> 
    
    <div class="county-menu-wrap">
    	<div class="navbar navbar-default navbar-static-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	        
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            
	            
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li class="active"><a href="{{county.get_absolute_url}}">Home</a></li>
	            <li><a href="{{county.get_absolute_url}}about">About {{object.name}}</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">County Executive <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{{governor.get_absolute_url}}">Governor</a></li>
	                <li><a href="{{deputy_governor.get_absolute_url}}">D. Governor</a></li>
	                <li><a href="{{county.get_absolute_url}}county-executive">County Executive</a></li>
	              </ul>
	            </li>
	            
	            <li><a href="{{senator.get_absolute_url}}">Senator </a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">County Assembly <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{{speaker.get_absolute_url}}">County Speaker</a></li>
	                <li><a href="{{county.get_absolute_url}}county-assembly">MCAs</a></li>
	                <li class="divider"></li>
	                <li><a href="{{county.get_absolute_url}}bills">Bills</a></li>
	                <li><a href="{{county.get_absolute_url}}transcripts">Transcripts</a></li>
	              </ul>
	            </li>
	            <li><a href="{{county.get_absolute_url}}projects">Projects</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{{county.get_absolute_url}}plan">Plan</a></li>
	                <li><a href="{{county.get_absolute_url}}budget">Budget</a></li>
	                <li class="divider"></li>
	                <li><a href="{{county.get_absolute_url}}bills">Bills</a></li>
	                <li><a href="{{county.get_absolute_url}}transcripts">Transcripts</a></li>
	                <li class="divider"></li>
	                <li><a href="{{county.get_absolute_url}}otherdocs">Other Docs</a></li>
	              </ul>
	            </li>
	            
	            <li><a href="{{county.get_absolute_url}}otherdocs">News</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
    </div> 

















    {% block content %}
    {% endblock %}
    	<!-- <div class="cont-footer-wrap">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-4">
	    				<div class="bg-white-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> QUICK LINKS </div>
								</div>
							</div>
	    			<a class="twitter-timeline" href="https://twitter.com/Ajibika" data-widget-id="483967462052855811">Tweets by @Ajibika</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





					</div>
	    			</div>
	    			<div class="col-md-4">
						<div class="bg-white-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> QUICK LINKS </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}bills"> Bills</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}projects"> Projects</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}transcripts"> Transcripts</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}plan"> Integrated Plan</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}budget"> Budget 2015/2016</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}other"> Other Documents</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}about"> About this county</a></p>
									</li>
									
									
									
									
								</ul>
							</div>
						</div>
					</div>
	    			<div class="col-md-4">
							<div class="bg-white-aji">
								<div class="cont-title">
									<div class="row">
										<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> CONNECT AND SHARE </div>
									</div>
								</div>
								<div class="cont-body">
									<div id="fb-root"></div>
									<script>(function(d, s, id) {
									  var js, fjs = d.getElementsByTagName(s)[0];
									  if (d.getElementById(id)) return;
									  js = d.createElement(s); js.id = id;
									  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=292843857462631&version=v2.0";
									  fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
									
									<div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
								</div>
							</div>
						</div>
	    		</div>
	    	</div>
    	</div>
    	<div class="footer-wrap footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<p class="nomargin nopadding">
    					&copy; Ajibika 2014. All rights reserved. <a href=""></a>
    				</p>
    			</div>
    			<div class="col-md-6">
    				<p class="nomargin nopadding tright">
    					<a href="">About Ajibika</a> |  <a href="">Terms</a> | <a href="">Legal</a>
    				</p>
    			</div>
    		</div>
    	</div>
    </div> -->





    	<div class="cont-footer-wrap">
    		<div class="container">
	    		<div class="row">
	    			<div class="col-md-4">
						<div class="bg-whie-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> ABOUT AJIBIKA </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<p class="nomargin"><a href="/"> Home</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="/about"> About Ajibika Platform</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Partners</a></p>
									</li>									
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}about"> About this county</a></p>
									</li>	
									
									
									
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bg-whie-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> QUICK LINKS </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}bills"> Bills</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}projects"> Projects</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}transcripts"> Transcripts</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}plan"> Integrated Plan</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}budget"> Budget 2015/2016</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}other"> Other Documents</a></p>
									</li>
									<li>
										<p class="nomargin"><a href="{{county.get_absolute_url}}about"> About this county</a></p>
									</li>
									
									
									
								</ul>
							</div>
						</div>
					</div>
	    			
	    			
	    			<div class="col-md-4">
							<div class="bg-white-aji">
								<div class="cont-title">
									<div class="row">
										<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> CONNECT AND SHARE </div>
									</div>
								</div>
								<div class="cont-body">
									<div id="fb-root"></div>
									<script>(function(d, s, id) {
									  var js, fjs = d.getElementsByTagName(s)[0];
									  if (d.getElementById(id)) return;
									  js = d.createElement(s); js.id = id;
									  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=292843857462631&version=v2.0";
									  fjs.parentNode.insertBefore(js, fjs);
									}(document, 'script', 'facebook-jssdk'));</script>
									
									<div class="fb-like-box" data-href="https://www.facebook.com/ajibika" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
								</div>
							</div>
						</div>
						
	    		</div>
	    	</div>
    	</div>
    	<div class="footer-wrap footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<p class="nomargin nopadding">
    					&copy; Ajibika 2014. All rights reserved. <a href=""></a>
    				</p>
    			</div>
    			<div class="col-md-6">
    				<p class="nomargin nopadding tright">
    					<a href="">About Ajibika</a> |  <a href="/about">Terms</a> | <a href="/legal">Legal</a>
    				</p>
    			</div>
    		</div>
    	</div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script>

/* Thanks to CSS Tricks for pointing out this bit of jQuery

http://css-tricks.com/equal-height-blocks-in-rows/

It's been modified into a function called at page load and then each time the page is resized. One large modification was to remove the set height before each new calculation. */


equalheight = function(container){


var currentTallest = 0,

    currentRowStart = 0,

    rowDivs = new Array(),

    $el,

    topPosition = 0;

$(container).each(function() {


  $el = $(this);

  $($el).height('auto')

  topPostion = $el.position().top;


  if (currentRowStart != topPostion) {

    for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {

      rowDivs[currentDiv].height(currentTallest);

    }

    rowDivs.length = 0; // empty the array

    currentRowStart = topPostion;

    currentTallest = $el.height();

    rowDivs.push($el);

  } else {

    rowDivs.push($el);

    currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);

  }

  for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {

    rowDivs[currentDiv].height(currentTallest);

  }

});

}


$(window).load(function() {

  equalheight('.profile-bg-ul');

});



$(window).resize(function(){

  equalheight('.profile-bg-ul');

});



</script>
  </body>
</html>
	
 