{% extends 'ajibika/county_base.html' %}

 {% block content %}

	<div class="county-slider-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<p>To see the difference between static and fixed top navbars, just scroll.</p>
					</div>
					<div class="btn-call-to-action">
						<p class="nomargin">
							<a href="" class="btn btn-ajibika">Read more &rarr;</a>
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="county-body">
		<div class="county-news">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<p class="nomargin">
							<i class="fa fa-arrow-circle-right color-aji"></i>  <a href="">To see the difference between static and fixed top navbars, just scroll.</a>
						</p>
					</div>
					<div class="col-md-2">
						<p class="nomargin tright">
							<a href="">Read more <i class="fa fa-chevron-right"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="county-resources">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="bg-white-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> TOP NEWS </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<a href="">
											<div class="row">
												<div class="col-md-3"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
												<div class="col-md-9"> <p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na</p></div>
											</div>
										</a>
										
									</li>
									
									<li>
										<a href="">
											<div class="row">
												<div class="col-md-3"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
												<div class="col-md-9"> <p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na</p></div>
											</div>
										</a>
										
									</li>
									
									<li>
										<a href="">
											<div class="row">
												<div class="col-md-3"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
												<div class="col-md-9"> <p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na</p></div>
											</div>
										</a>
										
									</li>
									<li>
										<a href="">
											<div class="row">
												<div class="col-md-3"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
												<div class="col-md-9"> <p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na</p></div>
											</div>
										</a>
										
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="bg-white-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> QUICK LINKS </div>
								</div>
							</div>
							<div class="cont-body">
								<ul class="nopadding nomargin listnone">
									<li>
										<p class="nomargin"><a href=""> Bills</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Projects</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Transcripts</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Integrated Plan</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Budget 2015/2016</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> Other Documents</a></p>
									</li>
									<li>
										<p class="nomargin"><a href=""> About this county</a></p>
									</li>
									
									
									
									
								</ul>
							</div>
						</div>
					</div>
					
						

					<div class="col-md-4">
						<div class="bg-white-aji">
							<div class="cont-title">
								<div class="row">
									<div class="col-sm-1"><i class="fa fa-tasks"></i></div><div class="col-sm-11"> CONNECT AND SHARE </div>
								</div>
							</div>
							<div class="cont-body">
								<div id="fb-root"></div>
								<script>(function(d, s, id) {
								  var js, fjs = d.getElementsByTagName(s)[0];
								  if (d.getElementById(id)) return;
								  js = d.createElement(s); js.id = id;
								  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=292843857462631&version=v2.0";
								  fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));</script>
								
								<div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
   {% endblock %}