	
{% extends 'ajibika/county_base.html' %}

 {% block content %}
 	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">County Resources</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<div class="bg-white-aji projects-wra">
							<div class="project-wrap">
								<div class="row">
									<div class="col-md-12">
										<div class="project-title">
											<h2><a href="">Construction of Maecenas sed diam eget risus varius blandit sit amet non magna.</a></h2>
										</div>
										<div class="project-attribes">
											<div class="row">
												<div class="col-md-10">
													
												<p><b>Date Raised:</b> 12 June 2012   &nbsp;&nbsp;    <b>Status:</b> In progress  &nbsp;&nbsp;    <b> Member:  </b><a href="">Kirima</a></p>
											</div>
											<div class="col-md-2">
												<p class="tright">
													<a class="btn btn-ajibika" href="">
														<i class="fa fa-cloud-download"></i>  Download
													</a>
												</p>
											</div>
											</div>
											
										</div>
										
									</div>
									
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="col-md-12">
						<p class="nomargin tcenter load-more">
							<a class="btn btn-ajibika" href="">Load more</a>
						</p>
					</div>
					
					
						

					
				</div>
			</div>
		</div>
		
	</div>
 {% endblock %}
