	
{% extends 'ajibika/county_base.html' %}

 {% block content %}

	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">News and Updates</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class=""
	<div class="county-body">
		<div class="county-resources">
			<div class="landing-inside">
				<div class="container">
					<div class="com-home">
						<div class="row">
							<div class="col-md-12">
								<div class="home-cont news-container">
									<div class="news-title">
										<h1 class="nomargin">Maecenas faucibus mollis interdumum.</h1>
									</div>
									<div class="params-wrap">
										<p><b>Posted on: </b>April 28, 2013 </p>
									</div>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
									
									<p class="tcenter"><img src="{{STATIC_URL}}img/county/news/newsimage.png" alt="About Ajibika"/></p>
									<h2>Another title </h2>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
									<h2>Another title </h2>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
									<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>
								</div>
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}