
 {% extends 'ajibika/base.html' %}
  {% block css %}
      <link href="{{ STATIC_URL }}css/custom.aji.css" rel="stylesheet">


     {% endblock %}

 {% block content %}

    <div class="home-cover">
    	<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="home-jumbo">
						<p class="tcenter twhite">Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
						<div class="home-action-btn">
							<form>
								<div class="col-md-3"></div>
								<div class="col-md-4">									
										<select id="select-county" class="form-control">
										  <option value="">-- Select County -- </option>
                      {% for county in counties %}
										  <option value="{{county.get_absolute_url}}">{{county.name}}</option>
                      {% endfor %}
										</select>
								</div>
                </form>
								<div class="col-md-2">
									<div>
									      <button id="enter-county" class="btn btn-default">Enter County</button>
									  </div>
								</div>
							
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
    	</div><!-- /.container -->
    </div>
    

{% endblock %}