
{% extends 'ajibika/county_base.html' %}

 {% block content %}

	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">News and Updates</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class=""
	<div class="county-body">
		<div class="county-resources">
			<div class="landing-inside">
				<div class="container">
					<div class="com-home">
						<div class="row">
							<div class="col-md-12">
								<div class="cont-body news-page">
								<ul class="nopadding nomargin listnone">
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="row">
											<div class="col-md-1"><span class="large-date">O4</span> <br/> <span class="small-month">JUNE</span> </div>
											<div class="col-md-11"> 
												<div class="news-page">
													<div class="newstitle">
														<h4 class="nomargin"><a href="/county/News.php">Maecenas faucibus mollis interdumum</a></h4>
													</div>
												<div class="news-excerpt">
													<p class="nomargin">Cum sociis natoque penatibus et magnis dis parturient montes, na Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. <br/> <a href="/county/News.php">read more...</a></p>
													
												</div>
												</div>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
							</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}