{% extends 'ajibika/county_base.html' %}
{% load thumbnail %}

 {% block content %}
 <!-- Disqus javascript -->
 {% include "disqus_javascript.html" %}
	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">{{ object.title }} {{ object.name }}</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- <div class="bg-white-aji projects-wra prof-title">
							<h2 class="normagin">Gideon Moi</h2>
						</div> -->
						<div class="bg-white-aji projects-wra">
							<div class="row">
								<div class="col-md-3">
									<div class="profile-pic-wrap">
										<div class="profile-img-wrap">										
											 <div class="profile-pic">
									          {% thumbnail object.primary_image "210x210" crop="center" as im %}
									          <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
									          {% empty %}
									          <img src="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg" />
									          {% endthumbnail %}        
									      </div>
										</div>
									</div>
									<div class="profile-info-wrap">



									<div class="Profile-content-wrap">
											<!-- <b class="profile-cont-label">County</b> -->
											
											{% with pos_set=object.position_set.all.currently_active %}
											  <p>

											    {% for position in pos_set%}
											      <strong>{{ position.title.name }}</strong>     
											    {% empty %}
											      No currently active positions found.
											    {% endfor %}
											  </p>
											  {% endwith %}
										</div>
										<div class="Profile-content-wrap">
											<b class="profile-cont-label">County</b>
											<p><a href="{{county.get_absolute_url}}">{{county.name}}</a></p>
										</div>
										
										<div class="Profile-content-wrap">
											<b class="profile-cont-label">Coalition</b>
											{% for coalition in object.parties_and_coalitions %}
											<p><a href="">{{coalition.name}}</a></p>
											{% endfor %}
											 
										</div>
									</div>
									
								</div>
								<div class="col-md-9">
									<div class="name-field">
										<h2 class="normagin"></h2>
									</div>
									<div class="other-prof-wrap">
										<div class="row">
											<div class="col-md-12">
												<div class="section-title-wrap">
													<h3><i class="fa fa-files-o color-aji"></i> About {{object.name}}</h3>
												</div>
												<div class="content-wrap-profile">
													{{object.summary}}
												</div>
											</div>
											<div class="col-md-12">
												<div class="section-title-wrap">
													<h3><i class="fa fa-files-o color-aji"></i> More Info</h3>
												</div>
												<div class="content-wrap-profile">
													
											</div>
											
											
											
										</div>
									</div>
								</div>
								{% include 'disqus_comments.html' %}
							</div>

						</div>

				</div>
			</div>
		</div>
		
	</div>
 {% endblock %}