{% extends 'ajibika/county_base.html' %}

 {% block content %}
	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">Integrated Plan</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<div class="bg-white-aji projects-wra">
							<div class="project-wrap">
								<div class="row">
									<div class="col-md-12">
											<div class="row">
												<div class="col-md-10">
													
												<div class="project-tit">
														<h2><a href="">2014 - 2015 Integrated Plan</a></h2>
													</div>
											</div>
											<div class="col-md-2">
												<div class="download-button">
													<p class="tright nomargin">
														<a class="btn btn-ajibika" href="">
															<i class="fa fa-cloud-download"></i>  Download
														</a>
													</p>
												</div>
											</div>
											</div>
									</div>
									
								</div>
							</div>
						</div>
					
						
					</div>
					<div class="col-md-12">
						<p class="nomargin tcenter load-more">
							<a class="btn btn-ajibika" href="">Load more</a>
						</p>
					</div>
					
					
						

					
				</div>
			</div>
		</div>
		
	</div>
 {% endblock %}