{% extends 'ajibika/base.html' %}
{% block css %}
  <link href="{{ STATIC_URL }}css/county.aji.css" rel="stylesheet">
 {% endblock %}
 {% block content %}
 <!-- Disqus javascript -->
 {% include "disqus_javascript.html" %}
 	<div class="county-header-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="call-to-action">
						<h1 class="nomargin">Senator</h1>
					</div>
						
				</div>
			</div>
		</div>
	</div>
	<div class="county-body inside-page">
		<div class="county-resouces">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- <div class="bg-white-aji projects-wra prof-title">
							<h2 class="normagin">Gideon Moi</h2>
						</div> -->
						<div class="bg-white-aji projects-wra">
							<div class="row">
								<div class="col-md-3">
									<div class="profile-pic-wrap">
										<div class="profile-img-wrap">										
											 <div class="profile-pic">
									        
									           {% if object.primary_image %}
									          <img src="{{ object.primary_image.url }}" alt="{{ person.primary_image.name }}"/>
									          {% else %}
									          <img src="{{STATIC_URL}}img/profiles/place-holder.jpg" />
									          {% endif %}    
									      </div>
										</div>
									</div>
									<div class="profile-info-wrap">



									<div class="Profile-content-wrap">
											<!-- <b class="profile-cont-label">County</b> -->
											
											{% with pos_set=object.position_set.all.currently_active %}
											  <p>

											    {% for position in pos_set%}
											     <p> <strong>{{ position.title.name }}</strong>  </p>   
											    {% empty %}
											      No currently active positions found.
											    {% endfor %}
											  </p>
											  {% endwith %}
										</div>
										<div class="Profile-content-wrap">
											<b class="profile-cont-label">County</b>
											<p><a href="{{county.get_absolute_url}}">{{county.name}}</a></p>
										</div>
										
										<div class="Profile-content-wrap">
											<b class="profile-cont-label">Coalition</b>
											{% for coalition in object.parties_and_coalitions %}
											<p><a href="">{{coalition.name}}</a></p>
											{% endfor %}
											 
										</div>
									</div>
									
								</div>
								<div class="col-md-9">
									<div class="name-field">
										<h2 class="normagin">{{ object.title }} {{ object.name }}</h2>
									</div>
									<div class="other-prof-wrap">
										<div class="row">
											<div class="col-md-5">
												<div class="section-title-wrap">
													<h3><i class="fa fa-files-o color-aji"></i> Experience</h3>
												</div>
												<div class="content-wrap-profile">
													<b>Senator of REPUBLIC OF KENYA for Baringo</b>
													<p><i>Started 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b>Senator of REPUBLIC OF KENYA for Baringo</b>
													<p><i>Started 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b>Senator of REPUBLIC OF KENYA for Baringo</b>
													<p><i>Started 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b>Senator of REPUBLIC OF KENYA for Baringo</b>
													<p><i>Started 11th March 2013</i></p>
												</div>
											</div>
											
											
											
											<div class="col-md-7">
												<div class="section-title-wrap">
													<h3><i class="fa fa-files-o color-aji"></i> Parliamentary Proceedings</h3>
												</div>
												<div class="content-wrap-profile">
													<b><a href="">What a wonderful day</a></b>
													<p><i>Senate, 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b><a href="">What a wonderful day</a></b>
													<p><i>Senate, 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b><a href="">What a wonderful day</a></b>
													<p><i>Senate, 11th March 2013</i></p>
												</div>
												<div class="content-wrap-profile">
													<b><a href="">What a wonderful day</a></b>
													<p><i>Senate, 11th March 2013</i></p>
												</div>
											</div>
										</div>
										{% include 'disqus_comments.html' %}
									</div>
								</div>
							</div>
							 
						</div>
				</div>
			</div>
		</div>
		
	</div>


   {% endblock %}